html{
    background-image: url(../src/numbers.gif);
    background-size: cover;
    font-family: 'Playfair Display', serif;
    font-family: 'Lexend Zetta', sans-serif;
}
h1{
    text-align: center;
    color: rgb(187, 182, 182);
    margin-top: 2%;
}

.main{    
    background-image: url(../src/metal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 27%;
    margin-top: 5%;
    font-size: 18px;
    border: 2px solid grey;
    height: 220px;
    width: 500px;
    text-align: center;
    align-items: center;
    border-radius: 5%;
    padding: 25px;
}

#texto{
    height: 25px;
    width: 310px;
}
#code{
    height: 25px;
    width: 125px;
}

.bottom{
    background-image: url(../src/metal.jpg);
    background-size: cover;
    font-size: 15px;
    margin-left: 27%;
    border: 2px solid grey;
    height: 85px;
    width: 554px;
    text-align: left;
    border-radius: 5px;
    word-wrap: break-word;
}