html{
    background-image: url(../src/numbers.gif);
    background-size: cover;
    font-family: 'Playfair Display', serif;
    font-family: 'Lexend Zetta', sans-serif;
}
h1{
    text-align: center;
    color: rgb(187, 182, 182);
    margin-top: 5%;
}

.main{
    background-image: url(../src/metal.jpg);
    margin-left: 31%;
    margin-top: 10%;
    font-size: 21px;
    border: 2px solid grey;
    height: 225px;
    width: 500px;
    text-align: center;
    border-radius: 5%;
    padding: 30px;
}

.bottom{
    background-image: url(../src/metal.jpg);
    margin-left: 31%;
    border: 2px solid grey;
    height: 90px;
    width: 500px;
    text-align: left;
    border-radius: 5%;
    padding: 30px;
    word-wrap: break-word;

}